.footer {
    @include flex__column;
    background-color: $Grey-dark;
    padding: 22px 25px;
    @media (min-width: 1024px) {
        flex-direction: row-reverse;
        padding: 30px 25px;
        align-items: flex-end;
        height: 50px;
    }
    &__logo {
        display: flex;
        margin-bottom: 16px;
        @media (min-width: 1024px) {
            @include marginOff;
        }
        &--txt {
            @include font-title;
            @include marginOff;
            color: white;
            font-size: 18px;
        }
    }
    &__part2 {
        &__block {
            @include flex__column;
            gap: 7px;
            @media (min-width: 1024px) {
                flex-direction: row;
                margin-right: 80px;
                gap: 30px;
            }
            &--iconTxt {
                @include flex__column;
                font-weight: 900;
                gap: 7px;
                @media (min-width: 1024px) {
                    flex-direction: row;
                }
            }
            &--txt {
                @include flex__column;
                gap: 7px;
                @media (min-width: 1024px) {
                    flex-direction: row;
                }
            }
        }
        &__card {
            @include flex__item--center;
            &--icon {
                margin-right: 11px;
                color: white;
            }
            &--txt {
                @include marginOff;
                color: white;
                @media (min-width: 1024px) {
                    margin-right: 10px;
                }
            }
        }
    }
}