.heart-check {
    &-empty {
        font-size: 22px;
        cursor: pointer;
        color: black;
    }
    &-full {
        font-size: 22px;
        display: none !important;
        cursor: pointer;
        color: transparent;
        background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text; /** pour fonctionnement chrome et safari **/
    }
}

.hidden-checkbox {
    display: none;
    &:checked + .heart-label .heart-check-empty {
        display: none;
    }
    &:checked + .heart-label .heart-check-full {
        display: block !important;
    }
}