.fa-heart {
    &.fa-regular {
        font-size: 22px;
        cursor: pointer;
        color: black;
    }
    &.fa-solid {
        font-size: 22px;
        display: none;
        cursor: pointer;
        color: transparent;
        background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
        -webkit-background-clip: text; /** pour fonctionnement chrome et safari **/
    }
}

.hidden-checkbox {
    display: none;
    &:checked + .heart-label .fa-regular.fa-heart {
        display: none;
    }
    &:checked + .heart-label .fa-solid.fa-heart {
        display: block;
    }
}