.heart {
    &__box {
        cursor: pointer;
        font-size: 1.375rem;
        &:hover .heart__empty {
            background: $heartGradient;
            color: transparent;
            background-clip: text; /** pour apliquer uniquement sur la bordure **/
            -webkit-background-clip: text; /** pour fonctionnement chrome et safari **/
        }
        &:hover .heart__full {
            transform: scale(1);
            -webkit-background-clip: text; /** pour fonctionnement chrome et safari **/
        }
    }
    &__empty {
        position: absolute;
        color: black;
    }
    &__full {
        position: absolute;
        color: transparent;
        background: $heartGradient;
        background-clip: text;
        -webkit-background-clip: text; /** pour fonctionnement chrome et safari **/
        transform: scale(0);
        transition: all 300ms;
    }
}