.heart {
    &__box {
        cursor: pointer;
        font-size: 22px;
        &:hover .heart__empty {
                background: $heartGradient;
                color: transparent;
                background-clip: text; /** pour apliquer uniquement sur la bordure **/
        }
        &:hover .heart__full {
            transform: scale(1);
        }
    }
    &__empty {
        position: absolute;
        color: black;
    }
    &__full {
        position: absolute;
        color: transparent;
        background: $heartGradient;
        background-clip: text;
        transform: scale(0);
        transition: all 300ms;
    }
}