.head__img {
    height: 275px;
    position: relative;
    object-fit: cover;
    width: 100%;
}

.menu {
    &__container {
        @include flex__column__item--center;
        position: relative;
        margin-top: -40px;
        background-color: $Grey;
        border-radius: 35px 35px 0 0;
        gap: 40px;
        padding-bottom: 40px;
        @media (min-width: 1024px) {
            max-width: 1055px;
            margin: auto;
            margin-top: -40px;
        }
    }
    &__head {
        @include flex__item--center;
        width: 90%;
        margin-top: 32px;
        @media (min-width: 1024px) {
            justify-content: center;
        }
        &--title {
            @include font-title;
            @include marginOff;
            font-size: 1.75rem;
            padding-right: 30px;
        }
        &--icon {
            @include flex__item--center;
        }
    }
    &__section {
        @include flex__column;
        width: 90%;
        gap: 12px;
        &__title {
            &--txt {
                @include marginOff;
                font-size: 1rem;
                font-weight: 300;
                text-transform: uppercase;
            }
            &--underline {
                border-bottom: 3px solid $Green;
                width: 40px;
            }
        }
    }
}