/** Animation Loader **/
@mixin animLoader {
    animation: rotation 1000ms linear infinite;
    @keyframes rotation {
        0% {
        transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin animLoaderDispear {
    animation: dispear 250ms 2500ms linear both;
    @keyframes dispear {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
            z-index: -100;
        }
    }
}

/** Animation Menu**/
@mixin animMenu {
    transform: scaleY(0); /** Y pour selection axe verticale **/
    opacity: 0; 
    animation: animAppear 1000ms forwards cubic-bezier(.37,1.67,.54,.93); /** Appel de la keyframe + durée + fill-mode + Rythme organique **/
    @keyframes animAppear {
        0% {
            transform: scaleY(0);
            opacity: 0;
        }
        60% {
            opacity: 0.4;
        }
        85%,100% {
            opacity: 1;
        }
        100% {
            transform: scaleY(1);
        }
    }
}

.animBoxMenu {
    &-1 {
        @include animMenu;
    }
    &-2 {
        @include animMenu;
        animation-delay: 300ms;  
    }
    &-3 {
        @include animMenu;
        animation-delay: 600ms;
    }
}