$PrimaryColor: #9356DC;
$SecondaryColor: #FF79DA;

$Green: #99E2D0;
$Green-Font: #008766;
$Blue: #89C8FA;
$Blue-2: #003A68;

$Grey: #F6F6F6;
$Grey-2: #EAEAEA;
$Grey-dark: #353535;
$Grey4: #7E7E7E;

$btnGradient: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
$heartGradient: linear-gradient(180deg, #9356DC 0%, #FF79DA 100%);

